/* Declare fonts */
@font-face {
    font-family: HelveticaRegular;
    src: url(/fonts/Helvetica-Font/Helvetica.ttf)
}

@font-face {
    font-family: HelveticaBold;
    src: url(/fonts/Helvetica-Font/Helvetica-Bold.ttf);
}

@font-face {
    font-family: AvenirHeavy;
    src: url(/fonts/avenir_ff/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(/fonts/avenir_ff/Avenir\ LT\ 65\ Medium.ttf);
}
@font-face {
    font-family: AvenirBook;
    src: url(/fonts/avenir_ff/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(/fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: AvenirRegular;
    src: url(/fonts/avenir_ff/AvenirNextLTPro-Regular.otf);
}